.post {
	margin-bottom: 2em;

	.post-image {
		display: block;
		margin-bottom: 0.5em;

		@media (max-width: 900px) {
			margin-bottom: 0.5em;
		}

		img {
			width: 100%;
		}
	}

	.post-title {
		font-size: 1.5em;
		line-height: 1.7em;
		color: black;
		text-decoration: none;

		@media (max-width: 1300px) {
			font-size: 1.25em;
			line-height: 1.6em;
		}

		@media (max-width: 900px) {
			font-size: 1.15em;
			line-height: 1.6em;
			margin: 0.3em 0 0 0;
		}

		h2 {
			margin: 0.35em 0 0 0;

			@media (max-width: 900px) {
				margin: 0.5em 0 0 0;
			}
		}
	}

	.post-body {
		font-size: 0.95em;
		line-height: 1.25em;

		@media (max-width: 1300px) {
			font-size: 0.85em;
			line-height: 1.2em;
		}

		p:first-of-type {
			margin-top: 0.85em;
		}
	}

	.post-links {
		padding-left: 0;
		list-style: none;

		@media (max-width: 1300px) {
			font-size: 0.85em;
		}

		li::before {
			content: "↝ ";
		}
	}
}