.window {
	background-color: silver;
	box-shadow: inset -1px -1px #fff, inset 1px 1px grey, inset -2px -2px #dfdfdf, inset 2px 2px #0a0a0a;
	padding: 3px;

	.window-body {
		a {
			display: block;
			line-height: 0;
		}
	}
}